<visicutPreferences>
  <disableSandbox>false</disableSandbox>
  <useFilenamesForJobs>false</useFilenamesForJobs>
  <labName>Fablab Paderborn</labName>
  <windowBounds>
    <x>0</x>
    <y>23</y>
    <width>1674</width>
    <height>933</height>
  </windowBounds>
  <useThicknessAsFocusOffset>false</useThicknessAsFocusOffset>
  <recentFiles/>
  <lastMaterial>Papier</lastMaterial>
  <lastLaserDevice>Fablab Paderborn HPC LS3020</lastLaserDevice>
  <availableImporters/>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
  <fabLabLocationFacebookId></fabLabLocationFacebookId>
  <laserCutterTags></laserCutterTags>
  <supportedExtensions></supportedExtensions>
</visicutPreferences>